<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scal=1, shrink-to-fit=no"
    />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
  </head>
  <body>
    <div class="container text-center">
      <h1>Top</h1>
    </div>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>
  </body>
</html>
